.ui-overlay-a {
    background: #ecedec;
}

.searchbox {
    padding: 1em;
}

.ui-page-theme-a .title {
    background-color:  #ff5666;
    color: #fff;
    font-size: 1.2em;
    text-shadow: 0 1px 0 #666
}

.ui-page-theme-a .title i {
    color: #fff;
}

/* card */

.card {
    border-radius: 2px;
    box-shadow: 2px 2px 8px -1px #aaa;
    background: #fafafa;
    position: relative;
    margin-bottom: 20px;
}

.card-group {
    width: 72px;
    height: 72px;
    position: relative;
}
.card-group i {
    font-size: 24px;
    background: #989998;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: 14px;
    left: 14px;
}

.card-title,
.card-tag {
    position: absolute;
    left: 76px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 265px;
}

.card-title {
    top: 20px;
    font-size: 15px;
}

.card-tag {
    top: 44px;
    font-size: 13px;
    color: #999;
    
}

.card-img h2 {
    padding: 10px 0 0 0;
    font-size: 14px;
    font-weight: normal;
}

.card-img {
    width: 100%;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
}

.lazy {
    height: 240px;
}

.card-description {
    min-height: 120px;
    font-size: 13px;
    padding: 15px;
    text-align: justify;
    line-height: 1.5;
    color: #444;
}

.ui-input-text {
    width: 80%;
    display: inline-block;
    box-shadow: none;
}
.searchbox .ui-focus:focus {
    box-shadow: none!important;
}
#submit-btn {
    width: 18%;
    display: inline-block;
    line-height: 1;
    padding: 8px;
    box-shadow: none;
}